@import url(../main/main.css);

%font {
  font-weight: 400;
  line-height: 18px;
}
%btn {
  background: #c9453b;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
%box__scrol {
  width: 262px;
  height: 334px;
}

%flex {
  display: flex;
  align-items: center;
}
@mixin pdng($padding) {
  padding: $padding;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header__bck.png);
  @include pdng(20px 200px);
  background-position: right;

  .header__nav {
    @extend %flex;
    justify-content: space-between;

    h2 {
      @extend %font;
      font-size: 34px;
      color: #ffffff;
    }
    ul {
      @extend %flex;
      gap: 50px;
      a {
        @extend %font;
        color: #ffffff;
      }
    }
    .header__nav__btn {
      @include pdng(14px 36px);
      @extend %btn;
    }
    #bars {
      color: #ffffff;
      font-size: 30px;
      display: none;
    }
  }
  .header__main {
    margin-top: 200px;
    @extend %flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    h2 {
      max-width: 680px;
      font-family: Gelasio;
      font-size: 55px;
      font-weight: 700;
      color: #ffffff;
    }
    p {
      max-width: 548px;
      @extend %font;
      line-height: 29px;
      color: #ffffff;
      opacity: 50%;
    }
    .header__main__btn {
      @extend %btn;
      @include pdng(18px 47px);
    }
   
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  header {
    @include pdng(18px 120px);
    .header__nav {
      .header__nav__btn {
        @include pdng(13px 30px);
      }
    }
    .header__main {
      .Header__main__titel {
        h2 {
          font-size: 55px;
        }
      }
      .header__main__btn {
        @include pdng(15px 40px);
      }
    }
  }
}
@media (min-width: 770px) and (max-width: 989px) {
  header {
    @include pdng(20px 80px);
    .header__nav {
      ul {
        gap: 20px;
      }
      .header__nav__btn {
        @include pdng(12px 30px);
      }
    }
    .header__main {
      margin-top: 190px;
      .Header__main__titel {
        h2 {
          font-size: 50px;
        }
      }
      .header__main__btn {
        @include pdng(12px 25px);
      }
    }
  }
}
@media (min-width:447px) and (max-width:769px){
  header {
    @include pdng(20px 80px);
    .header__nav {
      ul {
        display: none;
      }
      .header__nav__btn {
        display: none;
      }
      #bars{
        display: block;
      }
    }
    .header__main {
      margin-top: 150px;
      .Header__main__titel {
        h2 {
          font-size: 40px;
        }
        p{
          font-size: 15px;
        }
      }
      .header__main__btn {
        @include pdng(11px 23px);
      }
    }
  }
}
@media(max-width:447px){
  header {
    @include pdng(15px 30px);
    background-position: 480px ;
    .header__nav {
      ul {
        display: none;
      }
      .header__nav__btn {
        display: none;
      }
      #bars{
        display: block;
      }
    }
    .header__main {
      margin-top: 150px;
      .Header__main__titel {
        h2 {
          font-size: 40px;
        }
        p{
          font-size: 15px;
          color:#ffffff;
          opacity: 0;
        }
      }
      .header__main__btn {
        @include pdng(11px 23px);
      }
    }
  }
}
